#game-container {
  display: flex;
  align-items: center;
}

#palette {
  display: block;
  height: 300px;
  width: 300px;
}

#game-board {
  text-align: center;
  height: 800px;
  width: 500px;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(to bottom right, #000, #fff);
  background-size: 625% 1000%;
  animation: 15s ease infinite alternate bganim;
  border: 1px solid black;
}

@keyframes bganim {
  0%{background-position:50% 0%}
  100%{background-position:50% 100%}
}

#target-color {
  position: absolute;
  top: 80px;
  left: 150px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}


#color-selectors {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 350px;
  left: 50px;
}

#color-mixer {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: none;
  position: absolute;
  top: 100px;
  left: 100px;
}

.colorable {
  transition: background-color 2s, border 1s;
  border: 1px solid transparent;
}

.visible-colorable {
  border-color: black;
}

.color-swatches {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  transition: visibility 1s, opacity 1s;
}

.color-swatches:hover {
  cursor: pointer;
}

.selected-swatch {
  border-color: white;
}

.solution-swatch {
  border-color: green;
}

.other-swatch {
  border-color: red;
}

.hidden-swatch {
  visibility: hidden;
  opacity: 0;
}

#swatch1 {
  top: 25px;
  left: 175px;
}

#swatch2 {
  top: 100px;
  left: 305px;
}

#swatch3 {
  top: 250px;
  left: 305px;
}

#swatch4 {
  top: 325px;
  left: 175px;
}

#swatch5 {
  top: 250px;
  left: 45px;
}

#swatch6 {
  top: 100px;
  left: 45px;
}

#start-btn {
  z-index: 2;
}
