.game-text {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  transition:
    visibility 0.75s,
    opacity 0.75s,
    color 0.75s,
    top ease-in-out 2.0s,
    right ease-in-out 2.0s,
    left ease-in-out 2.0s,
    font-size 2.0s;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #eee;
  z-index: 2;
  font-size: 16px;
  user-select: none;
}

.game-text:hover {
  cursor: pointer;
}

.short-trans {
  transition: visibility 0.75s, opacity 0.75s, color 0.75s;
}

.hidden-text {
  visibility: hidden;
  opacity: 0;
}

#submit-btn {
  position: absolute;
  top: 350px;
  right: 20px;
}

#restart-btn {
  position: absolute;
  top: 350px;
  right: 20px;
}

/* #restart-btn {
  position: absolute;
  top: 352px;
  left: 20px;
} */

#score-display {
  position: absolute;
  top: 0;
  right: 20px;
}

#score-display, #score-count:hover {
  cursor: default;
}

#strikes {
  position: absolute;
  top: 16px;
  right: 20px;
}

#strikes, .strikes:hover {
  cursor: default;
}

.strikes {
  font-size: 20px;
  font-weight: 600;
}

.pending-strike {
  color: white;
}

.active-strike {
  color: red;
}

.answer-icon {
  font-size: 64px;
  position: absolute;
  top: 65px;
  left: 80px;
  /* text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; */
}

#right-icon {
  left: 72px;
}

.answer-icon:hover {
  cursor: default;
}

#right-icon {
  color: rgba(55, 230, 55, 0.8)
}

#wrong-icon {
  color: rgba(230, 55, 55, 0.8)
}

#music-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 15px;
  right: 35px;
}

.music-icon {
  position: absolute;
  font-size: 24px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.music-icon:hover {
  cursor: pointer;
}
