.rules {
  font-family: 'Karla', sans-serif;
  color: black;
  font-size: 20px;
  width: 300px;
  position: absolute;
  display: inline-block;
}

.how-to {
  text-align: center;
}

.links-section {
  display: flex;
}

.links-bar {
  margin: 0 auto;
  margin-top: 20px;
}

.link-icon {
  text-decoration: none;
  color: #8d5eb1;
  font-size: 48px;
}
